@import "tailwindcss";

:root {
    --font-manrope: 'Manrope', sans-serif;
}

/* Tailwind font class */
.font-manrope {
    font-family: var(--font-manrope);
}

@theme {

    /* FONT SIZES */
    --text-h1-size: 70px;
    --text-h2-size: 64px;
    --text-h3-size: 48px;
    --text-h4-size: 28px;
    --text-h5-size: 23px;
    --text-h6-size: 20px;

    --text-body1-size: 32px;
    --text-body2-size: 30px;
    --text-body3-size: 23px;
    --text-body4-size: 20px;
    --text-body5-size: 16px;


    /* FONT WEIGHTS */
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;

    /* COLOURS */
    --color-primary-white: #FCFCFC;

    --color-light-green: #ADD2D4;
    --color-medium-green: #5F9C9D;
    --color-dark-green: #274D4D;
    --color-darkest-green: #173F3F;

    --color-primary-orange: #CC5034;
    --color-hover-orange: #B93F23;

    /* INPUT BOXES */


    /* BUTTON STYLES */
    --text-btn-font-size: 16px;
    --radius-btn-radius: 50px;
    --font-weight-btn-font-wgt: 600;


    /* PANEL SHADOWS */
    --shadow-drop: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

/* Add your global styles here */
.bg-hero-section {
    background-image: url('/images/home/hero-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

/* @layer base {
    h1 {
        @apply text-darkest-green text-[70px] font-[700];
    }

    h2 {
        @apply text-darkest-green text-[64px] font-[500];
    }

    h3 {
        @apply text-darkest-green text-[48px] font-[500];
    }

    h4 {
        @apply text-darkest-green text-[28px] font-[600];
    }

    h5 {
        @apply text-darkest-green text-[23px] font-[600];
    }

    h6 {
        @apply text-darkest-green text-[20px] font-[500];
    }
} */