@import "tailwindcss";


@theme {

    /* FONT WEIGHTS */
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;

    /* COLOURS */
    --color-primary-white: #FCFCFC;

    --color-light-green: #ADD2D4;
    --color-medium-green: #5F9C9D;
    --color-dark-green: #274D4D;
    --color-darkest-green: #173F3F;

    --color-primary-orange: #CC5034;
    --color-hover-orange: #B93F23;

    /* BUTTON STYLES */
    --text-btn-font-size: 24px;
    --radius-btn-radius: 50px;
    --font-weight-btn-font-wgt: 600;


    /* PANEL SHADOWS */
    --shadow-drop: 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}

/* Add your global styles here */
.bg-hero-section {
    background-image: url('/images/home/hero-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}